div {
    background-color: grey
    margin-left: 100px;
    margin-right: 500px; 
    border-block-end-color: rgb(158, 95, 160);
  
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(102, 94, 83);
    margin-left: 100px;
    margin-right: 500px; 
    text-align: center;
    background-color: forestgreen
}

#paragrafo1 {
    color: dimgrey;
    background-color: forestgreen;
    text-align: center;    
}

#paragrafo2 {
    color: dimgrey;
    background-color: forestgreen;
    text-align: center;    
}

#paragrafo3 {
    color: dimgrey;
    background-color: forestgreen;
    text-align: center;   
}

.alerta {
    background-color: chartreuse;
    margin-left: 100px;
    margin-right: 500px; 
}
